# 忽略 Visual Studio 生成的檔案
.vs/
*.vspscc
*.vssscc
_ReSharper.Caches/
.idea/
*.user
*.userosscache
*.suo
*.userprefs
# Build output
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.exe
*.dll
*.lib
*.exp
